.slideDown{animation-name:slideDown;-webkit-animation-name:slideDown;animation-duration:1s;-webkit-animation-duration:1s;animation-timing-function:ease;-webkit-animation-timing-function:ease;visibility:visible!important}@keyframes slideDown{0%{transform:translateY(-100%)}50%{transform:translateY(8%)}65%{transform:translateY(-4%)}80%{transform:translateY(4%)}95%{transform:translateY(-2%)}100%{transform:translateY(0%)}}@-webkit-keyframes slideDown{0%{-webkit-transform:translateY(-100%)}50%{-webkit-transform:translateY(8%)}65%{-webkit-transform:translateY(-4%)}80%{-webkit-transform:translateY(4%)}95%{-webkit-transform:translateY(-2%)}100%{-webkit-transform:translateY(0%)}}.slideUp{animation-name:slideUp;-webkit-animation-name:slideUp;animation-duration:1s;-webkit-animation-duration:1s;animation-timing-function:ease;-webkit-animation-timing-function:ease;visibility:visible!important}@keyframes slideUp{0%{transform:translateY(100%)}50%{transform:translateY(-8%)}65%{transform:translateY(4%)}80%{transform:translateY(-4%)}95%{transform:translateY(2%)}100%{transform:translateY(0%)}}@-webkit-keyframes slideUp{0%{-webkit-transform:translateY(100%)}50%{-webkit-transform:translateY(-8%)}65%{-webkit-transform:translateY(4%)}80%{-webkit-transform:translateY(-4%)}95%{-webkit-transform:translateY(2%)}100%{-webkit-transform:translateY(0%)}}.slideLeft{animation-name:slideLeft;-webkit-animation-name:slideLeft;animation-duration:1s;-webkit-animation-duration:1s;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out;visibility:visible!important}@keyframes slideLeft{0%{transform:translateX(150%)}50%{transform:translateX(-8%)}65%{transform:translateX(4%)}80%{transform:translateX(-4%)}95%{transform:translateX(2%)}100%{transform:translateX(0%)}}@-webkit-keyframes slideLeft{0%{-webkit-transform:translateX(150%)}50%{-webkit-transform:translateX(-8%)}65%{-webkit-transform:translateX(4%)}80%{-webkit-transform:translateX(-4%)}95%{-webkit-transform:translateX(2%)}100%{-webkit-transform:translateX(0%)}}.slideRight{animation-name:slideRight;-webkit-animation-name:slideRight;animation-duration:1s;-webkit-animation-duration:1s;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out;visibility:visible!important}@keyframes slideRight{0%{transform:translateX(-150%)}50%{transform:translateX(8%)}65%{transform:translateX(-4%)}80%{transform:translateX(4%)}95%{transform:translateX(-2%)}100%{transform:translateX(0%)}}@-webkit-keyframes slideRight{0%{-webkit-transform:translateX(-150%)}50%{-webkit-transform:translateX(8%)}65%{-webkit-transform:translateX(-4%)}80%{-webkit-transform:translateX(4%)}95%{-webkit-transform:translateX(-2%)}100%{-webkit-transform:translateX(0%)}}.slideExpandUp{animation-name:slideExpandUp;-webkit-animation-name:slideExpandUp;animation-duration:1.6s;-webkit-animation-duration:1.6s;animation-timing-function:ease-out;-webkit-animation-timing-function:ease -out;visibility:visible!important}@keyframes slideExpandUp{0%{transform:translateY(100%) scaleX(0.5)}30%{transform:translateY(-8%) scaleX(0.5)}40%{transform:translateY(2%) scaleX(0.5)}50%{transform:translateY(0%) scaleX(1.1)}60%{transform:translateY(0%) scaleX(0.9)}70%{transform:translateY(0%) scaleX(1.05)}80%{transform:translateY(0%) scaleX(0.95)}90%{transform:translateY(0%) scaleX(1.02)}100%{transform:translateY(0%) scaleX(1)}}@-webkit-keyframes slideExpandUp{0%{-webkit-transform:translateY(100%) scaleX(0.5)}30%{-webkit-transform:translateY(-8%) scaleX(0.5)}40%{-webkit-transform:translateY(2%) scaleX(0.5)}50%{-webkit-transform:translateY(0%) scaleX(1.1)}60%{-webkit-transform:translateY(0%) scaleX(0.9)}70%{-webkit-transform:translateY(0%) scaleX(1.05)}80%{-webkit-transform:translateY(0%) scaleX(0.95)}90%{-webkit-transform:translateY(0%) scaleX(1.02)}100%{-webkit-transform:translateY(0%) scaleX(1)}}.expandUp{animation-name:expandUp;-webkit-animation-name:expandUp;animation-duration:.7s;-webkit-animation-duration:.7s;animation-timing-function:ease;-webkit-animation-timing-function:ease;visibility:visible!important}@keyframes expandUp{0%{transform:translateY(100%) scale(0.6) scaleY(0.5)}60%{transform:translateY(-7%) scaleY(1.12)}75%{transform:translateY(3%)}100%{transform:translateY(0%) scale(1) scaleY(1)}}@-webkit-keyframes expandUp{0%{-webkit-transform:translateY(100%) scale(0.6) scaleY(0.5)}60%{-webkit-transform:translateY(-7%) scaleY(1.12)}75%{-webkit-transform:translateY(3%)}100%{-webkit-transform:translateY(0%) scale(1) scaleY(1)}}.fadeIn{animation-name:fadeIn;-webkit-animation-name:fadeIn;animation-duration:1.5s;-webkit-animation-duration:1.5s;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out;visibility:visible!important}@keyframes fadeIn{0%{transform:scale(0);opacity:0}60%{transform:scale(1.1)}80%{transform:scale(0.9);opacity:1}100%{transform:scale(1);opacity:1}}@-webkit-keyframes fadeIn{0%{-webkit-transform:scale(0);opacity:0}60%{-webkit-transform:scale(1.1)}80%{-webkit-transform:scale(0.9);opacity:1}100%{-webkit-transform:scale(1);opacity:1}}.expandOpen{animation-name:expandOpen;-webkit-animation-name:expandOpen;animation-duration:1.2s;-webkit-animation-duration:1.2s;animation-timing-function:ease-out;-webkit-animation-timing-function:ease-out;visibility:visible!important}@keyframes expandOpen{0%{transform:scale(1.8)}50%{transform:scale(0.95)}80%{transform:scale(1.05)}90%{transform:scale(0.98)}100%{transform:scale(1)}}@-webkit-keyframes expandOpen{0%{-webkit-transform:scale(1.8)}50%{-webkit-transform:scale(0.95)}80%{-webkit-transform:scale(1.05)}90%{-webkit-transform:scale(0.98)}100%{-webkit-transform:scale(1)}}.bigEntrance{animation-name:bigEntrance;-webkit-animation-name:bigEntrance;animation-duration:1.6s;-webkit-animation-duration:1.6s;animation-timing-function:ease-out;-webkit-animation-timing-function:ease-out;visibility:visible!important}@keyframes bigEntrance{0%{transform:scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);opacity:.2}30%{transform:scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);opacity:1}45%{transform:scale(0.98) rotate(1deg) translateX(0%) translateY(0%);opacity:1}60%{transform:scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);opacity:1}75%{transform:scale(0.99) rotate(1deg) translateX(0%) translateY(0%);opacity:1}90%{transform:scale(1.01) rotate(0deg) translateX(0%) translateY(0%);opacity:1}100%{transform:scale(1) rotate(0deg) translateX(0%) translateY(0%);opacity:1}}@-webkit-keyframes bigEntrance{0%{-webkit-transform:scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);opacity:.2}30%{-webkit-transform:scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);opacity:1}45%{-webkit-transform:scale(0.98) rotate(1deg) translateX(0%) translateY(0%);opacity:1}60%{-webkit-transform:scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);opacity:1}75%{-webkit-transform:scale(0.99) rotate(1deg) translateX(0%) translateY(0%);opacity:1}90%{-webkit-transform:scale(1.01) rotate(0deg) translateX(0%) translateY(0%);opacity:1}100%{-webkit-transform:scale(1) rotate(0deg) translateX(0%) translateY(0%);opacity:1}}.hatch{animation-name:hatch;-webkit-animation-name:hatch;animation-duration:2s;-webkit-animation-duration:2s;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out;transform-origin:50% 100%;-ms-transform-origin:50% 100%;-webkit-transform-origin:50% 100%;visibility:visible!important}@keyframes hatch{0%{transform:rotate(0deg) scaleY(0.6)}20%{transform:rotate(-2deg) scaleY(1.05)}35%{transform:rotate(2deg) scaleY(1)}50%{transform:rotate(-2deg)}65%{transform:rotate(1deg)}80%{transform:rotate(-1deg)}100%{transform:rotate(0deg)}}@-webkit-keyframes hatch{0%{-webkit-transform:rotate(0deg) scaleY(0.6)}20%{-webkit-transform:rotate(-2deg) scaleY(1.05)}35%{-webkit-transform:rotate(2deg) scaleY(1)}50%{-webkit-transform:rotate(-2deg)}65%{-webkit-transform:rotate(1deg)}80%{-webkit-transform:rotate(-1deg)}100%{-webkit-transform:rotate(0deg)}}.bounce{animation-name:bounce;-webkit-animation-name:bounce;animation-duration:1.6s;-webkit-animation-duration:1.6s;animation-timing-function:ease;-webkit-animation-timing-function:ease;transform-origin:50% 100%;-ms-transform-origin:50% 100%;-webkit-transform-origin:50% 100%}@keyframes bounce{0%{transform:translateY(0%) scaleY(0.6)}60%{transform:translateY(-100%) scaleY(1.1)}70%{transform:translateY(0%) scaleY(0.95) scaleX(1.05)}80%{transform:translateY(0%) scaleY(1.05) scaleX(1)}90%{transform:translateY(0%) scaleY(0.95) scaleX(1)}100%{transform:translateY(0%) scaleY(1) scaleX(1)}}@-webkit-keyframes bounce{0%{-webkit-transform:translateY(0%) scaleY(0.6)}60%{-webkit-transform:translateY(-100%) scaleY(1.1)}70%{-webkit-transform:translateY(0%) scaleY(0.95) scaleX(1.05)}80%{-webkit-transform:translateY(0%) scaleY(1.05) scaleX(1)}90%{-webkit-transform:translateY(0%) scaleY(0.95) scaleX(1)}100%{-webkit-transform:translateY(0%) scaleY(1) scaleX(1)}}.pulse{animation-name:pulse;-webkit-animation-name:pulse;animation-duration:1.5s;-webkit-animation-duration:1.5s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite}@keyframes pulse{0%{transform:scale(0.9);opacity:.7}50%{transform:scale(1);opacity:1}100%{transform:scale(0.9);opacity:.7}}@-webkit-keyframes pulse{0%{-webkit-transform:scale(0.95);opacity:.7}50%{-webkit-transform:scale(1);opacity:1}100%{-webkit-transform:scale(0.95);opacity:.7}}.floating{animation-name:floating;-webkit-animation-name:floating;animation-duration:1.5s;-webkit-animation-duration:1.5s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite}@keyframes floating{0%{transform:translateY(0%)}50%{transform:translateY(8%)}100%{transform:translateY(0%)}}@-webkit-keyframes floating{0%{-webkit-transform:translateY(0%)}50%{-webkit-transform:translateY(8%)}100%{-webkit-transform:translateY(0%)}}.tossing{animation-name:tossing;-webkit-animation-name:tossing;animation-duration:2.5s;-webkit-animation-duration:2.5s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite}@keyframes tossing{0%{transform:rotate(-4deg)}50%{transform:rotate(4deg)}100%{transform:rotate(-4deg)}}@-webkit-keyframes tossing{0%{-webkit-transform:rotate(-4deg)}50%{-webkit-transform:rotate(4deg)}100%{-webkit-transform:rotate(-4deg)}}.pullUp{animation-name:pullUp;-webkit-animation-name:pullUp;animation-duration:1.1s;-webkit-animation-duration:1.1s;animation-timing-function:ease-out;-webkit-animation-timing-function:ease-out;transform-origin:50% 100%;-ms-transform-origin:50% 100%;-webkit-transform-origin:50% 100%}@keyframes pullUp{0%{transform:scaleY(0.1)}40%{transform:scaleY(1.02)}100%,60%{transform:scaleY(0.98)}80%{transform:scaleY(1.01)}100%{transform:scaleY(1)}}@-webkit-keyframes pullUp{0%{-webkit-transform:scaleY(0.1)}40%{-webkit-transform:scaleY(1.02)}100%,60%{-webkit-transform:scaleY(0.98)}80%{-webkit-transform:scaleY(1.01)}100%{-webkit-transform:scaleY(1)}}.pullDown{animation-name:pullDown;-webkit-animation-name:pullDown;animation-duration:1.1s;-webkit-animation-duration:1.1s;animation-timing-function:ease-out;-webkit-animation-timing-function:ease-out;transform-origin:50% 0;-ms-transform-origin:50% 0;-webkit-transform-origin:50% 0}@keyframes pullDown{0%{transform:scaleY(0.1)}40%{transform:scaleY(1.02)}100%,60%{transform:scaleY(0.98)}80%{transform:scaleY(1.01)}100%{transform:scaleY(1)}}@-webkit-keyframes pullDown{0%{-webkit-transform:scaleY(0.1)}40%{-webkit-transform:scaleY(1.02)}100%,60%{-webkit-transform:scaleY(0.98)}80%{-webkit-transform:scaleY(1.01)}100%{-webkit-transform:scaleY(1)}}.stretchLeft{animation-name:stretchLeft;-webkit-animation-name:stretchLeft;animation-duration:1.5s;-webkit-animation-duration:1.5s;animation-timing-function:ease-out;-webkit-animation-timing-function:ease-out;transform-origin:100% 0;-ms-transform-origin:100% 0;-webkit-transform-origin:100% 0}@keyframes stretchLeft{0%{transform:scaleX(0.3)}40%{transform:scaleX(1.02)}100%,60%{transform:scaleX(0.98)}80%{transform:scaleX(1.01)}100%{transform:scaleX(1)}}@-webkit-keyframes stretchLeft{0%{-webkit-transform:scaleX(0.3)}40%{-webkit-transform:scaleX(1.02)}100%,60%{-webkit-transform:scaleX(0.98)}80%{-webkit-transform:scaleX(1.01)}100%{-webkit-transform:scaleX(1)}}.stretchRight{animation-name:stretchRight;-webkit-animation-name:stretchRight;animation-duration:1.5s;-webkit-animation-duration:1.5s;animation-timing-function:ease-out;-webkit-animation-timing-function:ease-out;transform-origin:0 0;-ms-transform-origin:0 0;-webkit-transform-origin:0 0}@keyframes stretchRight{0%{transform:scaleX(0.3)}40%{transform:scaleX(1.02)}100%,60%{transform:scaleX(0.98)}80%{transform:scaleX(1.01)}100%{transform:scaleX(1)}}@-webkit-keyframes stretchRight{0%{-webkit-transform:scaleX(0.3)}40%{-webkit-transform:scaleX(1.02)}100%,60%{-webkit-transform:scaleX(0.98)}80%{-webkit-transform:scaleX(1.01)}100%{-webkit-transform:scaleX(1)}}

.cd-mobile,.cd-tablet,.cd-laptop,.cd-browser,.cd-mobile div,.cd-tablet div,.cd-laptop div,.cd-browser div,.cd-mobile div::after,.cd-tablet div::after,.cd-laptop div::after,.cd-browser div::after{margin:0px;padding:0px;display:block;box-sizing:content-box}.cd-center{position:relative;margin:auto}.cd-fill{display:block;position:absolute;top:0px;left:0px;right:0px;bottom:0px;width:100%;height:100%}.cd-mobile{border:0;position:relative;z-index:50;border-radius:35px;width:280px;height:600px;display:block;background:#1e1e1e}.cd-5s-gold,.cd-5s-gold>.cd-home{background-color:#fafafa;border:3px solid #ecdcc8}.cd-5s-silver,.cd-5s-silver>.cd-home{background-color:#fafafa;border:3px solid #bdbfbe}.cd-5s-black,.cd-5s-black>.cd-home{border:3px solid #2c2b2c}.cd-5c-blue{border:3px solid #7ec4fc}.cd-5c-green{border:3px solid #b3f390}.cd-5c-red{border:3px solid #fc828d}.cd-5c-yellow{border:3px solid #fff38a}.cd-5c-white{border:3px solid #efefee}.cd-mobile>.cd-ear{background:#292728}.cd-mobile>.cd-cam{background:#3c3d3d}.cd-5c-blue>.cd-home,.cd-5c-green>.cd-home,.cd-5c-red>.cd-home,.cd-5c-yellow>.cd-home,.cd-5c-white>.cd-home{background:#242324}.cd-5c-blue>.cd-home::after,.cd-5c-green>.cd-home::after,.cd-5c-red>.cd-home::after,.cd-5c-yellow>.cd-home::after,.cd-5c-white>.cd-home::after{content:"";display:block;width:15px;height:15px;margin:18px;border-radius:4px;border:2px solid #393839}.cd-mobile>.cd-home,.cd-mobile>.cd-ear,.cd-mobile>.cd-cam,.cd-mobile>.cd-screen{position:absolute;left:50%;overflow:hidden}.cd-mobile>.cd-cam{top:23px;width:8px;height:8px;border-radius:50%;margin-left:-4px}.cd-mobile>.cd-ear{top:43px;width:54px;height:8px;border-radius:5px;margin-left:-27px}.cd-mobile>.cd-home{bottom:14px;width:54px;height:54px;border-radius:50%;margin-left:-27px}.cd-5s-gold>.cd-home,.cd-5s-silver>.cd-home,.cd-5s-black>.cd-home{bottom:12px;width:50px;height:50px;margin-left:-30px}.cd-mobile>.cd-screen{background:black;width:250px;margin-left:-127px;height:440px;top:75px;border:solid 3px #000;border-radius:2px}.cd-mobile.cd-lg{width:364px;height:780px;border-radius:45.5px;border-width:3.9px}.cd-mobile.cd-lg>.cd-cam{top:29.9px;width:10.4px;height:10.4px;margin-left:-5.2px}.cd-mobile.cd-lg>.cd-ear{top:55.9px;width:70.2px;height:10.4px;border-radius:6.5px;margin-left:-35.1px}.cd-mobile.cd-lg>.cd-home{bottom:18.2px;width:70.2px;height:70.2px;margin-left:-35.1px}.cd-mobile.cd-lg.cd-5s-gold>.cd-home,.cd-mobile.cd-lg.cd-5s-silver>.cd-home,.cd-mobile.cd-lg.cd-5s-black>.cd-home{bottom:15.6px;width:65px;height:65px;margin-left:-39px;border-width:3.9px}.cd-5c-blue.cd-lg>.cd-home::after,.cd-5c-green.cd-lg>.cd-home::after,.cd-5c-red.cd-lg>.cd-home::after,.cd-5c-yellow.cd-lg>.cd-home::after,.cd-5c-white.cd-lg>.cd-home::after{width:19.5px;height:19.5px;margin:23.4px;border-radius:5.2px;border:2.6px solid #393839}.cd-mobile.cd-lg>.cd-screen{width:325px;margin-left:-165.1px;height:572px;top:97.5px;border:solid 3.9px #000;border-radius:2.6px}.cd-mobile.cd-sm{width:196px;height:420px;border-radius:24.5px;border-width:2.1px}.cd-mobile.cd-sm>.cd-cam{top:16.1px;width:5.6px;height:5.6px;margin-left:-2.8px}.cd-mobile.cd-sm>.cd-ear{top:30.1px;width:37.8px;height:5.6px;border-radius:3.5px;margin-left:-18.9px}.cd-mobile.cd-sm>.cd-home{bottom:9.8px;width:37.8px;height:37.8px;margin-left:-18.9px}.cd-mobile.cd-sm.cd-5s-gold>.cd-home,.cd-mobile.cd-sm.cd-5s-silver>.cd-home,.cd-mobile.cd-sm.cd-5s-black>.cd-home{bottom:8.4px;width:35px;height:35px;margin-left:-21px;border-width:2.1px}.cd-5c-blue.cd-sm>.cd-home::after,.cd-5c-green.cd-sm>.cd-home::after,.cd-5c-red.cd-sm>.cd-home::after,.cd-5c-yellow.cd-sm>.cd-home::after,.cd-5c-white.cd-sm>.cd-home::after{width:10.5px;height:10.5px;margin:12.6px;border-radius:2.8px;border:1.4px solid #393839}.cd-mobile.cd-sm>.cd-screen{width:175px;margin-left:-88.9px;height:308px;top:52.5px;border:solid 2.1px #000;border-radius:1.4px}.cd-mobile.cd-xs{width:140px;height:300px;border-radius:17.5px;border-width:1.5px}.cd-mobile.cd-xs>.cd-cam{top:11.5px;width:4px;height:4px;margin-left:-2px}.cd-mobile.cd-xs>.cd-ear{top:21.5px;width:27px;height:4px;border-radius:2.5px;margin-left:-13.5px}.cd-mobile.cd-xs>.cd-home{bottom:7px;width:27px;height:27px;margin-left:-13.5px}.cd-mobile.cd-xs.cd-5s-gold>.cd-home,.cd-mobile.cd-xs.cd-5s-silver>.cd-home,.cd-mobile.cd-xs.cd-5s-black>.cd-home{bottom:6px;width:25px;height:25px;margin-left:-15px;border-width:1.5px}.cd-5c-blue.cd-xs>.cd-home::after,.cd-5c-green.cd-xs>.cd-home::after,.cd-5c-red.cd-xs>.cd-home::after,.cd-5c-yellow.cd-xs>.cd-home::after,.cd-5c-white.cd-xs>.cd-home::after{width:7.5px;height:7.5px;margin:9px;border-radius:2px;border:1px solid #393839}.cd-mobile.cd-xs>.cd-screen{width:125px;margin-left:-63.5px;height:220px;top:37.5px;border:solid 1.5px #000;border-radius:1px}.cd-tablet{border:0;position:relative;z-index:50;border-radius:25px;width:428px;height:600px;display:block}.cd-tablet>.cd-cam{background:#3c3d3d}.cd-tablet.cd-black{background:#1e1e1e;border:2px solid #979797}.cd-tablet.cd-black>.cd-home{background:#242324}.cd-tablet.cd-white{background:#fafafa;border:2px solid #D5D5D5}.cd-tablet.cd-white>.cd-home{background:#EFEFEF}.cd-tablet>.cd-home,.cd-tablet>.cd-cam,.cd-tablet>.cd-screen{position:absolute;left:50%}.cd-tablet>.cd-cam{top:22px;width:6px;height:6px;border-radius:50%;margin-left:-3px}.cd-tablet>.cd-home{bottom:8px;width:30px;height:30px;border-radius:50%;margin-left:-15px}.cd-tablet>.cd-home::after{content:"";display:block;width:8px;height:8px;margin:10px;border-radius:2px}.cd-tablet.cd-black>.cd-home::after{border:1px solid #393839}.cd-tablet.cd-white>.cd-home::after{border:1px solid #D5D5D5}.cd-tablet>.cd-screen{background:black;width:390px;height:500px;margin-left:-197px;top:50px;border-radius:2px;overflow:hidden;border:solid 2px black}.cd-tablet.cd-lg{border-width:2.6px;border-radius:32.5px;width:556.4px;height:780px}.cd-tablet.cd-lg>.cd-cam{top:28.6px;width:10.4px;height:10.4px;margin-left:-5.2px}.cd-tablet.cd-lg>.cd-home{bottom:13px;width:39px;height:39px;margin-left:-19.5px}.cd-tablet.cd-lg>.cd-screen{width:507px;height:650px;margin-left:-253.5px;top:65px;border-radius:2.6px;border:solid 2.6px #000}.cd-tablet.cd-lg>.cd-home::after{width:10.4px;height:10.4px;margin:13px}.cd-tablet.cd-sm{border-width:1.4px;border-radius:17.5px;width:299.6px;height:420px}.cd-tablet.cd-sm>.cd-cam{top:15.4px;width:5.6px;height:5.6px;margin-left:-2.8px}.cd-tablet.cd-sm>.cd-home{bottom:7px;width:21px;height:21px;margin-left:-10.5px}.cd-tablet.cd-sm>.cd-screen{width:273px;height:350px;margin-left:-136.5px;top:35px;border-radius:1.4px;border:solid 1.4px #000}.cd-tablet.cd-sm>.cd-home::after{width:5.6px;height:5.6px;margin:7px}.cd-tablet.cd-xs{border-width:1px;border-radius:12.5px;width:214px;height:300px}.cd-tablet.cd-xs>.cd-cam{top:11px;width:4px;height:4px;margin-left:-2px}.cd-tablet.cd-xs>.cd-home{bottom:5px;width:15px;height:15px;margin-left:-7.5px}.cd-tablet.cd-xs>.cd-screen{width:195px;height:250px;margin-left:-97.5px;top:25px;border-radius:1px;border:solid 1px #000}.cd-tablet.cd-xs>.cd-home::after{width:4px;height:4px;margin:5px}.cd-laptop{position:relative;width:922px;height:516px}.cd-laptop>.cd-top{position:absolute;width:744px;height:500px;left:50%;margin-left:-372px;background:#d6d5da;border-top-left-radius:20px;border-top-right-radius:20px;border-bottom-left-radius:7px;border-bottom-right-radius:7px}.cd-laptop>.cd-bottom{position:absolute;width:922px;height:18px;background:#BDBDBD;bottom:0px;border-bottom-left-radius:100px;border-bottom-right-radius:100px}.cd-laptop>.cd-screen{position:absolute;width:684px;height:440px;left:50%;margin-left:-342px;top:30px;background:#3c3d3d;border-radius:1px;overflow:hidden;border:2px solid #3c3d3d}.cd-laptop>.cd-cam{position:absolute;width:8px;height:8px;left:50%;margin-left:-4px;top:12px;background:#3c3d3d;border-radius:50%}.cd-laptop>.cd-notch{position:absolute;width:150px;height:8px;left:50%;bottom:8px;margin-left:-75px;background:#d6d5da;border-bottom-left-radius:20px;border-bottom-right-radius:20px;border-top:2px solid #BDBDBD}.cd-laptop.cd-lg{width:1198.6px;height:670.8px}.cd-laptop.cd-lg>.cd-top{width:967.2px;height:650px;margin-left:-483.6px;border-top-left-radius:26px;border-top-right-radius:26px;border-bottom-left-radius:9.1px;border-bottom-right-radius:9.1px}.cd-laptop.cd-lg>.cd-bottom{width:1198.6px;height:26px;border-bottom-left-radius:130px;border-bottom-right-radius:130px}.cd-laptop.cd-lg>.cd-screen{width:889.2px;height:572px;margin-left:-444.6px;top:39px;border:2.6px solid #3c3d3d}.cd-laptop.cd-lg>.cd-cam{width:10px;height:10px;margin-left:-5.2px;top:15.6px}.cd-laptop.cd-lg>.cd-notch{width:195px;height:10.4px;bottom:10.4px;margin-left:-97.5px;border-bottom-left-radius:26px;border-bottom-right-radius:26px;border-top:2.6px solid #BDBDBD}.cd-laptop.cd-sm{width:645.4px;height:361.2px}.cd-laptop.cd-sm>.cd-top{width:520.8px;height:350px;margin-left:-260.4px;border-top-left-radius:14px;border-top-right-radius:14px;border-bottom-left-radius:4.9px;border-bottom-right-radius:4.9px}.cd-laptop.cd-sm>.cd-bottom{width:645.4px;height:14px;border-bottom-left-radius:70px;border-bottom-right-radius:70px}.cd-laptop.cd-sm>.cd-screen{width:478.8px;height:308px;margin-left:-239.4px;top:21px;border:1.4px solid #3c3d3d}.cd-laptop.cd-sm>.cd-cam{width:6px;height:6px;margin-left:-2.8px;top:8.4px}.cd-laptop.cd-sm>.cd-notch{width:105px;height:5.6px;bottom:5.6px;margin-left:-52.5px;border-bottom-left-radius:14px;border-bottom-right-radius:14px;border-top:1.4px solid #BDBDBD}.cd-laptop.cd-xs{width:461px;height:258px}.cd-laptop.cd-xs>.cd-top{width:372px;height:250px;margin-left:-186px;border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-left-radius:3.5px;border-bottom-right-radius:3.5px}.cd-laptop.cd-xs>.cd-bottom{width:461px;height:10px;border-bottom-left-radius:50px;border-bottom-right-radius:50px}.cd-laptop.cd-xs>.cd-screen{width:342px;height:220px;margin-left:-171px;top:15px;border:1px solid #3c3d3d}.cd-laptop.cd-xs>.cd-cam{width:4px;height:4px;margin-left:-2px;top:6px}.cd-laptop.cd-xs>.cd-notch{width:75px;height:4px;bottom:4px;margin-left:-37.5px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;border-top:1px solid #BDBDBD}.cd-browser{position:relative;width:700px;height:400px}.cd-browser>.cd-nav{position:absolute;top:0px;left:0px;right:0px;height:35px;background:#eaeaea;border-top-left-radius:5px;border-top-right-radius:5px}.cd-browser .cd-red,.cd-browser .cd-yellow,.cd-browser .cd-green{display:block;width:11px;height:11px;margin:12px 0px 10px 6px;border-radius:50%;float:left}.cd-browser .cd-red{margin-left:13px;background:#fc615d;border:1px solid #ea5954}.cd-browser .cd-yellow{background:#fdbf44;border:1px solid #eeb244}.cd-browser .cd-green{background:#34cf47;border:1px solid #36bd44}.cd-browser .cd-url{position:absolute;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:200;letter-spacing:1px;top:6px;left:80px;right:6px;bottom:6px;border-radius:3px;padding:2px 2px 2px 10px;background:#fff;color:#6E6E6E;font-size:14px}.cd-browser .cd-page{position:absolute;top:35px;left:0px;right:0px;bottom:0px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background:white;border:1px solid #D6D6D6;overflow:hidden}.cd-watch{border:0;position:relative;z-index:50;width:228px;height:392px;display:block}.cd-watch .cd-body{position:absolute;top:71px;left:0px;width:217px;height:250px;box-sizing:border-box;border:10px solid #e9d296;border-radius:43px;background:#030303}.cd-watch .cd-band{height:100px;width:120px;left:48px;background:#ff4838;position:absolute;border-radius:5px}.cd-watch .cd-band.cd-top{top:-16px;transform:perspective(400px) rotateX(45deg)}.cd-watch .cd-band.cd-bottom{bottom:-16px;transform:perspective(400px) rotateX(-45deg)}.cd-watch .cd-bracket{height:100px;width:156px;position:absolute;left:30px;box-sizing:border-box;border:8px solid #e9d296;border-radius:10px}.cd-watch .cd-bracket.cd-top{top:60px}.cd-watch .cd-bracket.cd-bottom{bottom:60px}.cd-watch .cd-crown{width:20px;height:45px;position:absolute;top:130px;right:0px;border-radius:5px;background:#e9d296}.cd-watch .cd-button{width:10px;height:66px;position:absolute;top:205px;right:6px;border-radius:5px;background:#e9d296}.cd-watch .cd-screen{position:absolute;background:black;overflow:hidden;width:150px;height:184px;top:105px;left:34px;border-radius:5px}.cd-watch .cd-screen>.cd-fill{border-radius:5px}.cd-watch.cd-lg{width:296.4px;height:509.6px}.cd-watch.cd-lg>.cd-body{top:92.3px;width:282.1px;height:325px;border-radius:55.9px;border-width:13px}.cd-watch.cd-lg>.cd-band{height:130px;width:156px;left:62.4px;border-radius:6.5px}.cd-watch.cd-lg>.cd-band.cd-top{top:-20.8px;transform:perspective(520px) rotateX(45deg)}.cd-watch.cd-lg>.cd-band.cd-bottom{bottom:-20.8px;transform:perspective(520px) rotateX(-45deg)}.cd-watch.cd-lg>.cd-bracket{height:130px;width:202.8px;left:39px;border-width:10.4px;border-radius:13px}.cd-watch.cd-lg>.cd-bracket.cd-top{top:78px}.cd-watch.cd-lg>.cd-bracket.cd-bottom{bottom:78px}.cd-watch.cd-lg>.cd-crown{width:26px;height:58.5px;top:169px;border-radius:6.5px}.cd-watch.cd-lg>.cd-button{width:13px;height:85.8px;top:266.5px;right:7.8px;border-radius:6.5px}.cd-watch.cd-lg>.cd-screen{width:195px;height:239.2px;top:136.5px;left:44.2px;border-radius:6.5px}.cd-watch.cd-lg>.cd-screen>.cd-fill{border-radius:6.5px}.cd-watch.cd-sm{width:159.6px;height:274.4px}.cd-watch.cd-sm>.cd-body{top:49.7px;width:151.9px;height:175px;border-radius:30.1px;border-width:7px}.cd-watch.cd-sm>.cd-band{height:70px;width:84px;left:33.6px;border-radius:3.5px}.cd-watch.cd-sm>.cd-band.cd-top{top:-11.2px;transform:perspective(280px) rotateX(45deg)}.cd-watch.cd-sm>.cd-band.cd-bottom{bottom:-11.2px;transform:perspective(280px) rotateX(-45deg)}.cd-watch.cd-sm>.cd-bracket{height:70px;width:109.2px;left:21px;border-width:5.6px;border-radius:7px}.cd-watch.cd-sm>.cd-bracket.cd-top{top:42px}.cd-watch.cd-sm>.cd-bracket.cd-bottom{bottom:42px}.cd-watch.cd-sm>.cd-crown{width:14px;height:31.5px;top:91px;border-radius:3.5px}.cd-watch.cd-sm>.cd-button{width:7px;height:46.2px;top:143.5px;right:4.2px;border-radius:3.5px}.cd-watch.cd-sm>.cd-screen{width:105px;height:128.8px;top:73.5px;left:23.8px;border-radius:3.5px}.cd-watch.cd-sm>.cd-screen>.cd-fill{border-radius:3.5px}.cd-watch.cd-xs{width:114px;height:196px}.cd-watch.cd-xs>.cd-body{top:35.5px;width:108.5px;height:125px;border-radius:21.5px;border-width:5px}.cd-watch.cd-xs>.cd-band{height:50px;width:60px;left:24px;border-radius:2.5px}.cd-watch.cd-xs>.cd-band.cd-top{top:-8px;transform:perspective(200px) rotateX(45deg)}.cd-watch.cd-xs>.cd-band.cd-bottom{bottom:-8px;transform:perspective(200px) rotateX(-45deg)}.cd-watch.cd-xs>.cd-bracket{height:50px;width:78px;left:15px;border-width:4px;border-radius:5px}.cd-watch.cd-xs>.cd-bracket.cd-top{top:30px}.cd-watch.cd-xs>.cd-bracket.cd-bottom{bottom:30px}.cd-watch.cd-xs>.cd-crown{width:10px;height:22.5px;top:65px;border-radius:2.5px}.cd-watch.cd-xs>.cd-button{width:5px;height:33px;top:102.5px;right:3px;border-radius:2.5px}.cd-watch.cd-xs>.cd-screen{width:75px;height:92px;top:52.5px;left:17px;border-radius:2.5px}.cd-watch.cd-xs>.cd-screen>.cd-fill{border-radius:2.5px}.cd-watch.cd-red-band>.cd-band{background:#ff4838}.cd-watch.cd-grey-band>.cd-band{background:#cfc0b7}.cd-watch.cd-navy-band>.cd-band{background:#56586b}.cd-watch.cd-tan-band>.cd-band{background:#e7d8ce}.cd-watch.cd-brown-band>.cd-band{background:#9a7a5b}.cd-watch.cd-black-band>.cd-band{background:#373737}.cd-watch.cd-gold>.cd-body{border-color:#e9d296}.cd-watch.cd-gold>.cd-bracket{border-color:#e9d296}.cd-watch.cd-gold>.cd-crown{background:#e9d296}.cd-watch.cd-gold>.cd-button{background:#e9d296}.cd-watch.cd-rosegold>.cd-body{border-color:#e9bfa9}.cd-watch.cd-rosegold>.cd-bracket{border-color:#e9bfa9}.cd-watch.cd-rosegold>.cd-crown{background:#e9bfa9}.cd-watch.cd-rosegold>.cd-button{background:#e9bfa9}.cd-watch.cd-silver>.cd-body{border-color:#d4d5d7}.cd-watch.cd-silver>.cd-bracket{border-color:#d4d5d7}.cd-watch.cd-silver>.cd-crown{background:#d4d5d7}.cd-watch.cd-silver>.cd-button{background:#d4d5d7}
/*# sourceMappingURL=devices.css.map */

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem; }

a {
  color: #2980B9;
  text-decoration: none; }

.btn, .project:nth-of-type(odd) .project-button, .project:nth-of-type(even) .project-button, .blog-button {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  border-radius: 0.4rem;
  font-size: initial; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .btn, .project:nth-of-type(odd) .project-button, .project:nth-of-type(even) .project-button, .blog-button {
      padding: 0.7rem 1.8rem;
      font-size: 1.1rem; } }
  @media (min-width: 1024px) {
    .btn, .project:nth-of-type(odd) .project-button, .project:nth-of-type(even) .project-button, .blog-button {
      padding: 0.8rem 2rem;
      font-size: 1.2rem; } }

header {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background: #ECF0F1;
  color: #2980B9; }
  header h1, header h2 {
    margin: 0; }
  @media (min-width: 768px) {
    header {
      padding: 4rem;
      font-size: 1.4rem; } }
  @media (min-width: 1024px) {
    header {
      font-size: 1.6rem; } }

.header-icon {
  margin-bottom: 1rem;
  font-size: 6rem; }
  @media (min-width: 1024px) {
    .header-icon {
      font-size: 8rem; } }

.header-links {
  margin-top: 2rem;
  font-size: initial; }

.header-link {
  padding: 0 0.4rem;
  color: #2980B9;
  -webkit-transition: color 0.5s;
  transition: color 0.5s; }
  .header-link:hover {
    color: #20638f; }

section {
  display: flex;
  padding: 2rem; }
  @media (min-width: 768px) and (max-width: 1023px) {
    section {
      font-size: 1.4rem; } }
  @media (min-width: 1024px) {
    section {
      padding: 2rem 4rem;
      font-size: 1.6rem; } }

.project:nth-of-type(odd) {
  color: #2980B9;
  background: #FFF; }
  .project:nth-of-type(odd) .project-button {
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    background: transparent;
    border: 4px solid #2980B9;
    color: #2980B9; }
    .project:nth-of-type(odd) .project-button:hover {
      background: rgba(41, 128, 185, 0.1); }

.project:nth-of-type(even) {
  color: #FFF;
  background: #2980B9; }
  .project:nth-of-type(even) .project-button {
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    background: transparent;
    border: 4px solid #FFF;
    color: #FFF; }
    .project:nth-of-type(even) .project-button:hover {
      background: rgba(255, 255, 255, 0.1); }

@media (min-width: 1024px) {
  .project-description,
  .project-image {
    flex: 50%;
    padding: 4rem 2rem; } }

.project-image {
  display: none; }
  @media (min-width: 768px) {
    .project-image {
      display: block; } }

.tech {
  font-weight: 700; }

.writing {
  justify-content: center;
  padding: 3rem 2rem 1rem;
  background: #ECF0F1;
  color: #2980B9; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .writing {
      padding: 3rem 2rem 2rem; } }
  @media (min-width: 1024px) {
    .writing {
      padding: 4rem 2rem; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .blogposts-wrapper {
    width: 75%; } }

@media (min-width: 1024px) {
  .blogposts-wrapper {
    width: 55%; } }

.blogposts-heading {
  padding-bottom: 1.5rem; }
  .blogposts-heading i {
    padding-right: 1rem;
    font-size: 2rem; }
  .blogposts-heading h3 {
    margin: 0;
    display: inline;
    font-size: 1.5rem; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .blogposts-heading i {
      font-size: 2.3rem; }
    .blogposts-heading h3 {
      font-size: 1.8rem; } }
  @media (min-width: 1024px) {
    .blogposts-heading {
      padding-bottom: 2rem; }
      .blogposts-heading i {
        font-size: 2.5rem; }
      .blogposts-heading h3 {
        font-size: 2rem; } }

.blogposts {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.blogpost:hover {
  text-decoration: underline; }

.blog-button {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background: #2980B9;
  border: none;
  color: #FFF;
  margin: 2rem 0; }
  .blog-button:hover {
    background: #20638f; }
