header {
  display: flex;
  flex-flow: row wrap;
  flex: 1 100%;
  padding: 2rem;
  background: #2ecc71;
  color: white; }
  @media (min-width: 1024px) {
    header {
      padding: 4rem 0 2rem; } }

.header-image-wrapper {
  display: none; }
  @media (min-width: 768px) {
    .header-image-wrapper {
      display: flex;
      justify-content: flex-end;
      flex: 1 50%; } }

.header-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 100%;
  text-align: center; }
  @media (min-width: 768px) {
    .header-text-wrapper {
      justify-content: flex-start;
      flex: 1 50%;
      text-align: left; } }

.header-image {
  height: 19rem;
  width: 25rem;
  margin-right: 2rem; }

div.browser-content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center; }
  div.browser-content i {
    color: #2ecc71;
    font-size: 8rem; }
  @media (min-width: 1024px) {
    div.browser-content i {
      font-size: 10rem; } }

.header-text {
  font-size: 1.5rem; }
  .header-text h1, .header-text h2 {
    margin: 0; }

.header-links {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
  flex: 1 100%;
  height: 5rem; }

.header-link {
  padding: 0 0.4rem;
  color: white; }

section {
  display: flex;
  flex-flow: row wrap;
  flex: 1 100%; }

.intro {
  justify-content: center;
  padding: 3rem;
  background: white;
  color: #2ecc71; }
  @media (min-width: 1024px) {
    .intro {
      padding: 5rem 0; } }

.intro-text {
  margin: 0;
  text-align: center;
  font-size: 1.2rem; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .intro-text {
      width: 75%;
      font-size: 1.4rem; } }
  @media (min-width: 1024px) {
    .intro-text {
      width: 55%;
      font-size: 1.5rem; } }

.project {
  flex: 1 100%;
  height: 15rem; }
  .project:nth-child(1) {
    background: #9b59b6; }
  .project:nth-child(2) {
    background: #e74c3c; }
  .project:nth-child(3) {
    background: #34495e; }
  .project:nth-child(4) {
    background: #f1c40f; }
  .project:nth-child(5) {
    background: #e67e22; }
  .project:nth-child(6) {
    background: #3498db; }
  @media (min-width: 768px) {
    .project {
      flex: 1 50%;
      height: 18rem; } }
  @media (min-width: 1024px) {
    .project {
      height: 20rem; } }

.writing {
  justify-content: center;
  padding: 3rem;
  background: white;
  color: #2ecc71; }
  @media (min-width: 1024px) {
    .writing {
      padding: 5rem 0; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .blogposts-wrapper {
    width: 75%; } }
@media (min-width: 1024px) {
  .blogposts-wrapper {
    width: 55%; } }

.blogposts-heading {
  padding-bottom: 1.5rem; }
  .blogposts-heading i {
    padding-right: 1rem;
    font-size: 2rem; }
  .blogposts-heading h3 {
    margin: 0;
    display: inline;
    font-size: 1.5rem; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .blogposts-heading i {
      font-size: 2.3rem; }
    .blogposts-heading h3 {
      font-size: 1.8rem; } }
  @media (min-width: 1024px) {
    .blogposts-heading {
      padding-bottom: 2rem; }
      .blogposts-heading i {
        font-size: 2.5rem; }
      .blogposts-heading h3 {
        font-size: 2rem; } }

.blogposts {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .blogposts {
      font-size: 1.4rem; } }
  @media (min-width: 1024px) {
    .blogposts {
      font-size: 1.5rem; } }

body {
  display: flex;
  flex-flow: row wrap;
  font-family: "Open Sans", sans-serif; }

a {
  text-decoration: none;
  color: #2ecc71; }
  a:hover {
    text-decoration: underline; }
