.btn, .btn-solid, .btn-clear {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  border-radius: 0.4rem;
  font-size: initial; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .btn, .btn-solid, .btn-clear {
      padding: 0.7rem 1.8rem;
      font-size: 1.1rem; } }
  @media (min-width: 1024px) {
    .btn, .btn-solid, .btn-clear {
      padding: 0.8rem 2rem;
      font-size: 1.2rem; } }

.btn-solid {
  background: #3498DB;
  border: none;
  color: #FFF; }
  .btn-solid:hover {
    background: #5faee3; }

.btn-clear {
  background: transparent;
  border: 4px solid #FFF;
  color: #FFF; }
  .btn-clear:hover {
    background: rgba(255, 255, 255, 0.1); }

header {
  display: flex;
  flex-flow: row wrap;
  flex: 1 100%;
  padding: 2rem;
  background: #3498DB;
  color: #FFF; }
  @media (min-width: 1024px) {
    header {
      padding: 4rem 0 2rem; } }

.header-image-wrapper {
  display: none; }
  @media (min-width: 768px) {
    .header-image-wrapper {
      display: flex;
      justify-content: flex-end;
      flex: 1 50%; } }

.header-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 100%;
  text-align: center; }
  @media (min-width: 768px) {
    .header-text-wrapper {
      justify-content: flex-start;
      flex: 1 50%;
      text-align: left; } }

.header-image {
  height: 19rem;
  width: 25rem;
  margin-right: 2rem; }

div.browser-content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center; }
  div.browser-content i {
    color: #3498DB;
    font-size: 8rem; }
  @media (min-width: 1024px) {
    div.browser-content i {
      font-size: 10rem; } }

.header-text {
  font-size: 1.5rem; }
  .header-text h1, .header-text h2 {
    margin: 0; }

.header-links {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
  flex: 1 100%;
  height: 5rem; }

.header-link {
  padding: 0 0.4rem;
  color: #FFF; }

section {
  display: flex;
  flex-flow: row wrap;
  flex: 1 100%; }

.intro {
  justify-content: center;
  padding: 3rem 2rem;
  background: #FFF;
  color: #7F8C8D; }
  @media (min-width: 1024px) {
    .intro {
      padding: 5rem 0; } }

.intro-text {
  margin: 0;
  text-align: center;
  font-size: 1.2rem; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .intro-text {
      width: 75%;
      font-size: 1.4rem; } }
  @media (min-width: 1024px) {
    .intro-text {
      width: 50%;
      font-size: 1.5rem; } }

.project {
  flex: 1 100%;
  color: #FFF;
  font-size: 1.2rem; }
  .project h3 {
    margin-top: 0; }
  .project:nth-child(1) {
    background: #9B59B6; }
  .project:nth-child(2) {
    background: #E74C3C; }
  .project:nth-child(3) {
    background: #E67E22; }
  .project:nth-child(4) {
    background: #F1C40F; }
  .project:nth-child(5) {
    background: #34495E; }
  .project:nth-child(6) {
    background: #2ECC71; }
  @media (min-width: 768px) {
    .project {
      flex: 1 50%;
      height: 24rem;
      font-size: 1.4rem; } }
  @media (min-width: 1024px) {
    .project {
      height: 27rem;
      font-size: 1.5rem; } }
  @media (min-width: 1280px) {
    .project {
      height: 23rem; } }

.project-content {
  padding: 2rem; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .project-content {
      padding: 2rem 2rem 0; } }
  @media (min-width: 1024px) {
    .project-content {
      padding: 3rem 3rem 0; } }

.tech {
  font-weight: 700; }

.writing {
  justify-content: center;
  padding: 3rem 3rem 1rem;
  background: #FFF;
  color: #3498DB; }
  @media (min-width: 1024px) {
    .writing {
      padding: 5rem 0 3rem; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .blogposts-wrapper {
    width: 75%; } }

@media (min-width: 1024px) {
  .blogposts-wrapper {
    width: 55%; } }

.blogposts-heading {
  padding-bottom: 1.5rem; }
  .blogposts-heading i {
    padding-right: 1rem;
    font-size: 2rem; }
  .blogposts-heading h3 {
    margin: 0;
    display: inline;
    font-size: 1.5rem; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .blogposts-heading i {
      font-size: 2.3rem; }
    .blogposts-heading h3 {
      font-size: 1.8rem; } }
  @media (min-width: 1024px) {
    .blogposts-heading {
      padding-bottom: 2rem; }
      .blogposts-heading i {
        font-size: 2.5rem; }
      .blogposts-heading h3 {
        font-size: 2rem; } }

.blogposts {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .blogposts {
      font-size: 1.4rem; } }
  @media (min-width: 1024px) {
    .blogposts {
      font-size: 1.5rem; } }

.blogpost:hover {
  text-decoration: underline; }

.blog-button {
  margin: 2rem 0; }

body {
  display: flex;
  flex-flow: row wrap;
  font-family: "Open Sans", sans-serif; }

a {
  color: #3498DB;
  text-decoration: none; }
