$dark-gray: #222;
$mid-gray: #666;
$light-gray: #eee;
$green: #00ebbe;
$primary-font: 'Changa One', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "compass/layout/sticky-footer";
@import "compass/layout/stretching";
@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "partials/layout";
@import "partials/typography";
@import "partials/welcome";
@import "partials/work";
@import "partials/modal";
