!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Open+Sans|Changa+One"}/
    %link{:rel => "stylesheet", :href => "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"}/
    %link{:rel => "stylesheet", :href => "http://www.justinaguilar.com/animations/css/animations.css"}/
    %link{:rel => "stylesheet", :href => "css/main.min.css"}/
    %title Imogen Wentworth | portfolio
  %body

    / Navigation
    %ul#nav
      %li
        %a{:href => "#welcome"}
          %i#wel-btn.fa.fa-circle
      %li
        %a{:href => "#dev-heading"}
          %i#dev-btn.fa.fa-circle-o
      %li
        %a{:href => "#cre-heading"}
          %i#cre-btn.fa.fa-circle-o
      %li
        %a{:href => "#tech-heading"}
          %i#tech-btn.fa.fa-circle-o

    / Modals
    .modal-bg
      .modal#stork
        .close
          %a{:href => "/"}
            %i.fa.fa-times.fa-3x
        .images
          %img{:src => "img/stork-cupcakes.png", :alt => "Stork cupcakes"}/
          %img{:src => "img/stork-brownies.png", :alt => "Stork brownies"}/
          %img{:src => "img/stork-sponge.png", :alt => "Stork sponge"}/
        .text
          %p Heritage print campaign for Stork margarine, spring/summer 2013
      .modal#ikea
        .close
          %a{:href => "/"}
            %i.fa.fa-times.fa-3x
        .images
          %img{:src => "img/ikea-email.png", :alt => "IKEA"}/
        .text
          %p Email to promote IKEA's BEST&Aring; range, a customisable modular storage system
          %p
            %a{:href => "https://raw.github.com/negomi/portfolio/gh-pages/img/ikea-full.png", :target => "_blank"}
              Read it
              %i.fa.fa-arrow-right
      .modal#virgin
        .close
          %a{:href => "/"}
            %i.fa.fa-times.fa-3x
        .images
          %img{:src => "img/virgin-email.gif", :alt => "Virgin Holidays"}/
        .text
          %p Email campaign to persuade Londoners to escape the UK's wet weather with a last-minute break
      .modal#coke
        .close
          %a{:href => "/"}
            %i.fa.fa-times.fa-3x
        .images
          %img{:src => "img/coke-vanilla.jpg", :alt => "Coca-Cola vanilla"}/
        .text
          %p April Fool's Day press ad announcing the return of Coca-Cola vanilla after an 8-year break
      .modal#revlon
        .close
          %a{:href => "/"}
            %i.fa.fa-times.fa-3x
        .images
          %img{:src => "img/revlon-press.png", :alt => "Revlon"}/
          %img{:src => "img/revlon-outdoor.png", :alt => "Revlon"}/
        .text
          %p Campaign tagline for the launch of Nearly Naked, Revlon's skintone-matching makeup range
      .modal#accenture
        .close
          %a{:href => "/"}
            %i.fa.fa-times.fa-3x
        .images
          %img{:src => "img/accenture-mobile.png", :alt => "Accenture"}/
          %img{:src => "img/accenture-mobile2.png", :alt => "Accenture"}/
          %img{:src => "img/accenture-mobile3.png", :alt => "Accenture"}/
        .text
          %p Microsite to help prospective employees get started in their Accenture career

    / Landing page
    #welcome
      %header
        .intro
          %h1 Imogen Wentworth
          %h2 portfolio
        #down-btn
          %a{:href => "#work"}
            %i.fa.fa-chevron-circle-down.fa-5x.pulse

    / Portfolio stuffs
    #work
      %header#dev-heading developer.
      %section#developer
        .content
          %h1 I love to write code and make web-based things.

          .project
            .image
              %img{:src => "img/wordnursery.png", :alt => "WordNursery"}/
            .text
              %h2
                %a{:href => "http://wordnursery.herokuapp.com/"} WordNursery
              %h3 Rails | Sass | Compass | CoffeeScript | Foundation
              %p A vocabulary builder. Search for new words via the Wordnik API, learn their meaning, and store them till you know them.
          .project
            .image
              %img{:src => "img/hugbot.png", :alt => "hugbot"}/
            .text
              %h2
                %a{:href => "http://twitter.com/hugsorpugs"} hugbot
              %h3 Node.js | JavaScript
              %p A Twitter bot that sends people hugs and occasionally pugs. Uses the Twitter Streaming API.
          .project
            .image
              %img{:src => "img/oomerang.png", :alt => "Oomerang"}/
            .text
              %h2
                %a{:href => "http://oomerang.it/"} Oomerang
              %h3 Rails | JavaScript | AJAX | Bootstrap
              %p A geolocation-based lost and found app that uses the Google Maps and Google Places APIs.
          .project
            .image
              %img{:src => "img/thoughtverse.png", :alt => "Thoughtverse"}/
            .text
              %h2
                %a{:href => "http://thoughtverse.herokuapp.com/"} Thoughtverse
              %h3 Rails | Haml | Sass | RSpec | Capybara | Cucumber
              %p A microblogging platform for discovering and sharing interesting snippets or links.
          / .project
          /   .image
          /     %img{:src => "img/psychoviz.jpg", :alt => "PsychoViz"}/
          /   .text
          /     %h2
          /       %a{:href => "http://psychoviz.herokuapp.com/"} PsychoViz
          /     %h3 Rails | CoffeeScript | Chart.js | TukTuk
          /     %p An interactive quiz that lets you discover and visualize your MBTI score.
          .project
            .image
              %img{:src => "img/prettystocks.png", :alt => "PrettyStocks"}/
            .text
              %h2
                %a{:href => "http://prettystocks.herokuapp.com/"} PrettyStocks
              %h3 HTML | CSS | Ruby | Sinatra
              %p A stock-finder tool that uses the YahooFinance Ruby module to display current data for any stock symbol.

      %header#cre-heading creative.
      %section#creative
        .content
          %h1 I used to write copy for print, digital, outdoor & retail campaigns.
          %ul.grid.js-masonry
            %li.item
              %a{:href => "#stork"}
                %img{:src => "img/stork-brownies.png", :alt => "Accenture"}/
            %li.item
              %a{:href => "#ikea"}
                %img{:src => "img/ikea-email.png", :alt => "IKEA"}/
            %li.item
              %a{:href => "#virgin"}
                %img{:src => "img/virgin-email.png", :alt => "Virgin Holidays"}/
            %li.item
              %a{:href => "#coke"}
                %img{:src => "img/coke-vanilla.jpg", :alt => "Coca-Cola vanilla"}/
            %li.item
              %a{:href => "#revlon"}
                %img{:src => "img/revlon-outdoor.png", :alt => "Revlon"}/
            %li.item
              %a{:href => "#accenture"}
                %img{:src => "img/accenture-ipad.png", :alt => "Accenture"}/

      %header#tech-heading technologist.
      %section#technologist
        .content
          .image
            .circle
          .contact
            %table
              %tr
                %td
                  %i.fa.fa-github.fa-2x
                %td
                  %a{:href => "https://github.com/negomi/"} GitHub
              %tr
                %td
                  %i.fa.fa-twitter.fa-2x
                %td
                  %a{:href => "https://twitter.com/imogenwentworth"} Twitter
              %tr
                %td
                  %i.fa.fa-linkedin.fa-2x
                %td
                  %a{:href => "http://www.linkedin.com/in/imogenwentworth/"} LinkedIn
              %tr
                %td
                  %i.fa.fa-pencil.fa-2x
                %td
                  %a{:href => "http://imogenation.net/"} Blog
              %tr
                %td
                  %i.fa.fa-briefcase.fa-2x
                %td
                  %a{:href => "http://negomi.github.io/resume/"} R&eacute;sum&eacute;

      / Footer
      %footer#footer
        %h3
          design &amp; development by
          %a{:href => "https://twitter.com/imogenwentworth"} @imogenwentworth
        %p Built with Haml, Sass, Compass, Bourbon Neat and Masonry

    %script{:src => "http://code.jquery.com/jquery-1.10.2.min.js", :type => "text/javascript"}
    %script{:src => "js/jquery-inview.js", :type => "text/javascript"}
    %script{:src => "js/jquery-masonry.js", :type => "text/javascript"}
    %script{:src => "js/imagesloaded.js", :type => "text/javascript"}
    %script{:src => "js/modernizr.js", :type => "text/javascript"}
    %script{:src => "js/main.js", :type => "text/javascript"}
