.intro {
    justify-content: center;

    padding: 3rem 2rem;

    background: $white;
    color: $secondary-color;

    @include desktop {
        padding: 5rem 0;
    }
}

.intro-text {
    margin: 0;
    text-align: center;
    font-size: $mobile-font-scale;

    @include tablet {
        width: 75%;
        font-size: $tablet-font-scale;
    }

    @include desktop {
        width: 55%;
        font-size: $desktop-font-scale;
    }
}
