// Layout styles
#nav{
  list-style: none;
  position: fixed;
  right: 20px;
  z-index: 200;
  li {
    margin: 0 0 15px 0;
  }
}

#footer {
  background-color: $dark-gray;
  font-family: $secondary-font;
  padding: 1%;
  text-align: center;
  width: 100%;
  h3, p {
    color: $mid-gray;
  }
}

.absolute-horizontal-center {
  position: absolute;
  text-align: center;
  width: 100%;
}
