.modal {
        display: none;
        background-color: $dark-gray;
        border: solid 1px darken($dark-gray, 20);
        font-family: $secondary-font;
        line-height: 1.5;
        padding: 2%;
        position: fixed;
        top: 5%; left: 10%; right: 10%;
        z-index: 100;
        .images, .text {
                text-align: center;
                img {
                        display: inline;
                        padding: 5px;
                        max-width: 30%;
                }
                p {
                        color: $light-gray;
                        padding: 5px;
                }
        }
}
