.project {
    flex: 1 100%;

    color: $white;
    font-size: $mobile-font-scale;

    h3 {
        margin-top: 0;
    }

    &:nth-child(1) {
        background: $amethyst;
    }

    &:nth-child(2) {
        background: $alizarin;
    }

    &:nth-child(3) {
        background: $carrot;
    }

    &:nth-child(4) {
        background: $sun-flower;
    }

    &:nth-child(5) {
        background: $wet-asphalt;
    }

    &:nth-child(6) {
        background: $emerald;
    }

    @include tablet-up {
        flex: 1 50%;
        height: 24rem;

        font-size: $tablet-font-scale;
    }

    @include desktop {
        height: 27rem;

        font-size: $desktop-font-scale;
    }

    @include large-desktop {
        height: 23rem;
    }
}

.project-content {
    padding: 2rem;

    @include tablet {
        padding: 2rem 2rem 0;
    }

    @include desktop {
        padding: 3rem 3rem 0;
    }
}

.tech {
    font-weight: 700;
}
