// Landing page styles
#welcome {
  background-color: $dark-gray;
  background: url('../img/blackwall.jpg') no-repeat;
  @include background-size(cover);
  @include stretch;
  header {
    @extend .absolute-horizontal-center;
    bottom: 5%;
    .intro {
      font-family: $primary-font;
      h1 {
        color: $mid-gray;
        font-size: 4em;
      }
      h2 {
        color: $light-gray;
        font-size: 3em;
      }
    }
    #down-btn {
      margin-top: 8%;
    }
  }
}
