// Main portfolio styles
#work {
  position: relative;
  header {
    background-color: $dark-gray;
    padding: 1% 1% 2%;
    color: $mid-gray;
    font-family: $primary-font;
    font-size: 6em;
  }
  section {
    background-color: $light-gray;
  }
  .content {
    @include outer-container;
    font-family: $secondary-font;
    padding: 2%;
    h1 {
      font-family: $primary-font;
    }
  }
  #developer {
    .project {
      @include row;
      padding: 1% 0;
      .image {
        @include span-columns(6);
        img {
          @include fill-parent;
        }
      }
      .text {
        @include span-columns(6);
        line-height: 1.5em;
      }
    }
  }
  #creative {
    .grid {
      margin: 0;
      padding: 0;
      width: 100%;
      img {
        @include fill-parent;
        margin-bottom: 10px;
      }
    }
  }
  #technologist {
    .image {
      @include fill-parent;
      @include span-columns(6);
    }
    .circle {
      @include border-radius(150px);
      background: url('../img/imogen.jpg') no-repeat;
      float: right;
      margin: 20px;
      height: 300px;
      width: 300px;
    }
    .contact {
      @include span-columns(4);
      color: $dark-gray;
      margin: 70px 20px 0;
      td {
        padding: 5% 10% 5% 0;
      }
    }
  }
}
