header {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;

  padding: 2rem;

  background: $secondary-color;
  color: $primary-color;

  h1, h2 {
    margin: 0;
  }

  @include tablet-up {
    padding: 4rem;
    font-size: $tablet-font-scale;
  }

  @include desktop {
    font-size: $desktop-font-scale;
  }
}

.header-icon {
  margin-bottom: 1rem;
  font-size: 6rem;

  @include desktop {
    font-size: 8rem;
  }
}

.header-links {
  margin-top: 2rem;
  font-size: initial;
}

.header-link {
  padding: 0 0.4rem;
  color: $primary-color;

  -webkit-transition: color 0.5s;
  transition: color 0.5s;

  &:hover {
      color: darken($primary-color, 10%);
  }
}
