.project {
  &:nth-of-type(odd) {
    color: $primary-color;
    background: $white;

    .project-button {
      @include btn-clear($primary-color);
    }
  }

  &:nth-of-type(even) {
    color: $white;
    background: $primary-color;

    .project-button {
      @include btn-clear($white);
    }
  }
}

.project-description,
.project-image {
  @include tablet-up {
    flex: 50%;
  }

  @include desktop {
    padding: 2rem 4rem 3rem;
  };
}

.project-image {
  display: none;

  @include tablet-up {
    display: block;
  }
}

.tech {
  font-weight: 700;
}
